$font-family-primary: 'Source Sans Pro';
$font-family-headers: $font-family-primary;
$font-family-secondary: Hind;
$font-size-base: 14px;
$color-night-rider: #333333;
$color-white: #ffffff;
$color-link-water: #c0c3ce;
$color-neon-blue: #3a47ff;
$color-oliver: #669900;
$color-default: $color-link-water;
$body-background-color: $color-white;
$accent-color: $color-neon-blue;
$headers-color: $color-night-rider;
$button-background-color: $color-oliver;
$logo-color: $color-night-rider;
$button-color: $color-white;
$card-background-color: $color-night-rider;
$footer-background-color: $color-night-rider;
$poster: url("../img/m-h-day.jpg");
