$font-family-primary: 'Source Sans Pro';
$font-family-headers: $font-family-primary;
$font-family-secondary: Fresca;
$font-size-base: 14px;
$color-white: #ffffff;
$color-link-water: #c0c3ce;
$color-black-russian: #21232e;
$color-red-orange: #FF4E33;
$color-orange: #E3AC00;
$color-blue-zodiac: #3B3F50;
$color-default: $color-link-water;
$body-background-color: $color-black-russian;
$accent-color: $color-red-orange;
$headers-color: $color-white;
$button-background-color: $color-orange;
$button-color: $color-white;
$logo-color: $color-white;
$card-background-color: $color-blue-zodiac;
$footer-background-color: $color-blue-zodiac;
$poster: url("../img/m-h-night.jpg");
